.container {
  width: 50%;
  height: 80vh;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
}
.input-container {
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.input-container input {
  width: 50%;
  font-size: large;
}

.input-container input:hover {
  background-color: rgb(217, 236, 236);
}

.input-container button {
  width: 20%;
  font-size: large;
  margin: 10px;
  border-radius: 2rem;
  cursor: pointer;
}

.input-container button:hover {
  background-color: rgb(148, 84, 84);
}

.item-container {
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.item-container table {
  width: 50%;
  margin-left: 100px;
}
.item-container table tr {
  height: 50px;
  width: 100%;
}

.item-container table i {
  /* border-radius: 2rem; */
  cursor: pointer;
}
.item-container table i:hover {
  background-color: rgb(241, 195, 205);
}
